trigger:
- main

pool:
  vmImage: ubuntu-18.04
  variables:
  imageName: 'backend'
steps:
- task: Docker@2
  displayName: Build an image
  inputs:
    command: build
    repository: backend/repository
    containerRegistry: harbor-bk
    Dockerfile: Dockerfile
    tags: $(build.buildId)
- script: docker login demo.goharbor.io/ --username=albertoraaz --password=Ven320wl8ven!
- task: DockerCompose@0
  displayName: Build an image
  inputs:
    dockerComposeCommand: "up test"
- task: Docker@2
  displayName: Push an image
  inputs: 
    repository: demo.goharbor.io/backend/repository
- script: docker push demo.goharbor.io/backend/repository:$(build.buildId) 
